html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans';
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #FEF7F4;
}

.logo {
    height: 30px;
    width: 160px;
}

.nav {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    margin-top: 0.5rem;
}

.nav ul{
    display: flex;
    list-style: none;
    margin-right: 4rem;
}
.nav ul li{
    padding-left: 3rem;
}

.nav  a {
    text-decoration: none;
    color: #35374B;
    font-size: 1.2rem;
}

.btn2 {
    margin-left: 2rem;
    background-color: #EB662B;
    padding: 0.8rem ;
}
.btn2 a{
    color: #FEF7F4;
}
.main {
    padding-top: 4rem;
    margin-left: 80px;
    margin-right: 5rem;
}
.container1{
    display: flex;
    justify-content: space-between;
}

.left-col{
    padding-top: 80px;
    padding-right: 4rem;
    
    color: #35374B;
}

.left-col h1{
    font-size: 5rem;
    line-height: 1.2;
}
span{
    color: #EB662B;
}

.left-col p{
    font-size: 1.5rem;
    margin-top: 1.4rem;
    line-height: 1.5;
}
.right-col img{
    height: 450px;
    width: 450px;
    padding-right: 2rem;
}

.cta-btn{
    display: inline-block;
    background-color: #EB662B;
    padding: 1rem;
    margin-top: 1.7rem;
}

.cta-btn a{
    color: #FEF7F4;
    text-decoration: none;
    font-size: 1.3rem;
}

.container2{
    margin-top: 5rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 60px;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img{
    width: 40px;
    margin-bottom: 1.3rem;
}

.card1 h3,
.card2 h3,
.card3 h3,
.card4 h3{
    color: #35374B;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.card1 p,
.card2 p,
.card3 p,
.card4 p{
    color: #35374B;
    font-size: 1.4rem;
    line-height: 1.3;
}